{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

  <link rel="stylesheet" href="{% static '/bootstrap-5.2.3-dist/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static '/bootstrap-5.2.3-dist/css/bootstrap.rtl.css' %}">
  <link rel="stylesheet" href="{% static '/bootstrap-5.2.3-dist/css/bootstrap-grid.css' %}">
  <link rel="stylesheet" href="{% static '/bootstrap-5.2.3-dist/css/bootstrap-grid.rtl.css' %}">
  <link rel="stylesheet" href="{% static '/bootstrap-5.2.3-dist/css/bootstrap-reboot.css' %}">
  <link rel="stylesheet" href="{% static '/bootstrap-5.2.3-dist/css/bootstrap-reboot.rtl.css' %}">
  <link rel="stylesheet" href="{% static '/bootstrap-5.2.3-dist/css/bootstrap-utilities.css' %}">
  <link rel="stylesheet" href="{% static '/bootstrap-5.2.3-dist/css/bootstrap-utilities.rtl.css' %}">

<style>
    .image-thumbail{
        height: 200px;
        object-fit:cover;
    }
    body{
        height : 100%;
        width: 100%;

    }
</style>
</head>
<body>

{% block body_content %}
{% endblock %}

</body>
</html>
